@model IEnumerable<EAD_PROJECT_MVC.Models.User>
@{
    ViewBag.Title = "UpdateUserHelper";
    Layout = "~/Views/Shared/CRUDAdminLayout.cshtml";
}

<h2>UpdateUserHelper</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            <a href="/Admin/UpdateUser/@item.UID">Update User</a>
            </td>
    </tr>
}

</table>
