@model IEnumerable<EAD_PROJECT_MVC.Models.Product>

@{
    ViewBag.Title = "UpdateProductHelper";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>UpdateProductHelper</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catagory)
        </th>
        <th>
            <label>Images Path</label>
        </th>

        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>Update Product</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Catagory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imgae)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            <a href="/Admin/UpdateProduct/@item.PID">Update Product</a>
        </td>

        </tr>
}

</table>
